img {
    height: 380px;
}

.html {
    width: 50%;
    font-size: 14px;
    padding: 10px 0 0 5px;
    background-color: rgba(212, 241, 241, 0.692);
    border-radius: 10px 10px 10px 10px  
    
}

.html:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
    box-shadow: 0 4px 8px rgba(93, 208, 243, 0.897); /* Adiciona uma sombra */
  }

div {
    
}